<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <title>Home</title>

</head>
<body>
    <header>

        <div class="bar-head">
            <img class="logo-site" src="/assets/fx.png" alt="" srcset="" width="70px">
            <i class="fas fa-sun dark-light theme-color"></i>
            <i class="fa-solid fa-bars menu-mobile"></i>
        </div>
            
        <div class="contenair test">
            <div class="imge-fond">
                <img src="/assets/fx.png" alt="" srcset="" width="100px">
            </div>
            <div class="contenair-info">
              
                <div class="profile-card">
                    <div class="photo-profile">
                        <img src="/assets/<%= utilisateur[0].photo %>" alt="Photo de profil" id="photo-profil" >
                    </div>
      
     
                <p class="pseudo"><%= utilisateur[0].nom %> <%= utilisateur[0].prenom %></p>
                <p class="text-header is-size-7">
                    JavaScript, Node.js, React, PostgreSQL<br>
                    <%= utilisateur[0].short_description %>
                </p>

                </div>
            </div>
            
        </div>
       
    </header>

    <main class="container  ">
        <section class="scrollable">
            <div class="contenair-infomobile hidden">

               <div class="mesprojets-mobile">
                     <!-- Bouton de fermeture de la modale -->
                     <div class="close  has-text-right has-text-white close-projetmobile">
                        <i class="fa-regular fa-circle-xmark close-projetmobile"></i> <!-- Icône de fermeture -->
                    </div>

                    <h1 class="has-text-white title-mobile">Mes projets</h1>

                    <div class="content-mobileprojet projets-modal">
                        <% projets.forEach(projet => { %>
                            <div class="card-projetmobile">
                                <h3 class="projet-nom text-projetmobile is-size-6"><%= projet.nom %></h3>
                                <p class="projet-description text-projetmobile"><strong class="has-text-white">Description :</strong class="has-text-white"> <%= projet.description %></p>
                                <p class="projet-tech text-projetmobile"><strong class="has-text-white">Technologies :</strong class="has-text-white"> <%= projet.tech %></p>
                                <p class="projet-defis text-projetmobile"><strong class="has-text-white">Défis :</strong class="has-text-white"> <%= projet.defis %></p>
                                <p class="projet-resultat text-projetmobile"><strong class="has-text-white">Résultats :</strong class="has-text-white"> <%= projet.resultats %></p>
                                <p class="text-projetmobile"><strong class="has-text-white" >Voir le projet :</strong class="has-text-white"> 
                                    <a href="https://lien-vers-la-demo.com" target="_blank">Démo</a> | 
                                    <a href="https://github.com/ton-github/projet" target="_blank">Code Source</a>
                                </p>
                            </div>
                        <% }); %>

                       
                    </div>

                    <div class="content-mobileprojet">
                            
                            <div class="card-projetmobile presentation-mobile">
                               
            
                                <p class="has-text-white"><%= presentation.short_presentation %></p>
                                
                                <h2 class="has-text-white">Mon Parcours</h2>
                                <p class="has-text-white"><%= presentation[0].description %>. Actuellement je suit un <strong class="has-text-white"><%= presentation[0].formation %></strong> au sein de l'école  <strong class="has-text-white"><%= presentation[0].ecole %>.</strong> </p>
                                <p class="has-text-white">Contactez moi : <%= utilisateur[0].mail%></p>
                                
                                <h2 class="has-text-white">Competances technique</h2>
                                <p class="has-text-white"> je travail frequement avec les technologies suivante : <strong class="has-text-white">Node.js</strong> et <strong class="has-text-white">PHP</strong>. Pour les bases de données j'utilise souvent : <strong class="has-text-white">PostgreSQL</strong> et <strong class="has-text-white">MongoDB</strong>. Côté frontend, je maîtrise <strong class="has-text-white">HTML/CSS</strong>, <strong class="has-text-white">JavaScript</strong> et <strong class="has-text-white">React</strong></p>
                                
                                <h2 class="has-text-white">Mes Ambitions</h2>
                                <p class="has-text-white"><%= presentation[0].ambitions %>.</p>
                            </div>
                        

                        
                        
                       
                    </div>




            
               </div>
            
            
              </div>
            <div class="overlay overlayConnexion">
                <div class="connexion box box-connexion" role="dialog" aria-labelledby="modal-title" aria-modal="true">
                    
                    <!-- Bouton de fermeture de la modale -->
                    <div class="close has-text-right  connexion-close">
                        <i class="fa-regular fa-circle-xmark"></i> <!-- Icône de fermeture -->
                    </div>
            
                    <h2 id="modal-title" class="title">Connexion</h2>
                    <form id="login-form">
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" required>
                        </div>
                        <button class="button" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
            
            
            <div class="projects-sidebar">
                <h2 class="is-size-6">Mes Projets</h2>

               
                    <div class="project-category">

                        <ul>
                            <% projets.forEach(projet => { %>
                            <li class="sidebar-projet"><a href="#" data-id="<%= projet.id%>" class="link-projet">#<%= projet.nom %></a>
                                <time class="has-text-left date" datetime="<%= projet.created_at.toISOString() %>">
                                    <%= new Date(projet.created_at).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %>
                                </time>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
              
            </div>
            <aside class="sidebar">
              
                <div class="profile-info">
                    <h2 class="is-size-6 " id="show-about"><a href="#" id="about" class="has-text-white">À Propos de Moi</a></h2>
                    <p class=""><%= presentation[0].short_presentation %></p>
                    
                    
                </div>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/emmanuel-charles-developpeur-informatique/">lien vers mon profil</a></p>
                <div class="recent-posts">
                    <h2 class="is-size-6 titre-recents ">Posts Récents</h2>
                    <% Recentsposts.forEach(recentPost => { %>
                        <div class="post postRecents"id="post-date" data-id="<%= recentPost.id %>" ><a class="is-size-7" href=""><%= recentPost.titre %></a> <small class="has-text-grey-light">
                            <time class="has-text-left date" datetime="<%= recentPost.created_at.toISOString() %>">
                                <%= new Date(recentPost.created_at).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %>
                            </time>
                        </small></div>
                    <% }) %>
                    
                   
                    <!-- Ajoutez d'autres posts récents ici -->
                </div>
            </aside>
            <div class="overlay overlayProjet ">
                <div class="box box-apropos modalProjet has-background-black" id="about-modal" role="dialog" aria-labelledby="about-title" aria-modal="true" id="projetModal">
                    
                    <!-- Bouton de fermeture de la modale -->
                    <div class="close close-projet has-text-right ">
                        <i class="fa-regular fa-circle-xmark"></i> <!-- Icône de fermeture -->
                    </div>
            
                    <div class="project">
                        <!-- Espace pour l'image ou la vidéo -->
                        <div class="project-media">
                           
                            <!-- Pour une vidéo, remplace l'image ci-dessus par une balise vidéo -->
                            <!-- <video controls class="project-video">
                                <source src="lien-vers-video-projet1.mp4" type="video/mp4">
                                Votre navigateur ne supporte pas la balise vidéo.
                            </video> -->
                        </div>
                        
                        <h3 class="projet-nom"></h3>
                        <p class="projet-description "><strong>Description :</strong> Plateforme de mise en relation entre propriétaires de voitures et nettoyeurs professionnels. Développement full-stack avec gestion de réservations, profils utilisateurs, et système de paiement sécurisé.</p>
                        
                        <p class="projet-tech "><strong>Technologies :</strong> Node.js, React, PostgreSQL, API Stripe</p>
                        
                        <p class="projet-defis "><strong>Défis :</strong> Intégration d'un calendrier de disponibilité en temps réel et mise en place d'un système de notifications pour les réservations.</p>
                        
                        <p class="projet-resultat"><strong>Résultats :</strong> Application fonctionnelle avec des réservations en temps réel et des retours positifs sur l'interface utilisateur et l'expérience.</p>
                        
                        <p><strong>Voir le projet :</strong> 
                            <a href="https://lien-vers-la-demo.com" target="_blank">Démo</a> | 
                            <a href="https://github.com/ton-github/projet" target="_blank">Code Source</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="overlay overlayPost  ">
                <div class="box box-apropos has-background-black has-text-white" id="modal-content" role="dialog" aria-labelledby="about-title" aria-modal="true">
                    
                    <!-- Bouton de fermeture de la modale -->
                    <div class="close close-post has-text-right ">
                        <i class="fa-regular fa-circle-xmark"></i> <!-- Icône de fermeture -->
                    </div>
            
                    <article class="twitter-post box post-cliked"> <!-- Ajout de la classe 'box' pour un fond blanc et une ombre -->
                        <div class="media position-media">
                        <div class="media-left user-info">
                            <figure class="image avatar is-48x48"> <!-- Avatar avec taille fixe -->
                                <img src="/assets/<%= utilisateur[0].photo %>" alt="Photo de profil" >
                            </figure>
                            <p class="username">
                                <strong class="has-text-white">ᏟᎬᏁᎢᏒᎪᏞ</strong> 
                                <span class="has-text-grey-light">@<%= utilisateur[0].pseudo %></span>
                            </p>
                        </div>

                        <div class="media-content">
                            <div class="content">
                            
                                <p class="post-description"></p>
                                <img class="image-tweet is-240x245" src="/assets/coonect_booking.png" alt="Image du tweet" style="max-width: 100%; height: auto;"> <!-- Ajout de styles pour rendre l'image responsive -->
                            </div>
                        </div>
                        </div>
        
                        <div class="content icon-info"> <!-- Alignement à droite pour la date -->
                        <time class="has-text-left date" datetime="2024-11-04T12:00"></time>
        
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xs partage"></i>
                        </div>

                    </article>

 
          
                   
                </div>
            </div>
            <div class="overlay overlayAbout">
                <div class="box box-apropos has-background-black   " id="about-modal" role="dialog" aria-labelledby="about-title" aria-modal="true">
                    
                    <!-- Bouton de fermeture de la modale -->
                    <div class="close close-about has-text-right ">
                        <i class="fa-regular fa-circle-xmark"></i> <!-- Icône de fermeture -->
                    </div>
            
                    <h2 id="about-title">À propos</h2>
                    
                    <p class="has-text-white"><%= presentation.short_presentation %></p>
                    
                    <h3>Mon Parcours</h3>
                    <p class=""><%= presentation[0].description %>. Actuellement je suit un <strong><%= presentation[0].formation %></strong> au sein de l'école  <strong><%= presentation[0].ecole %>.</strong> </p>
                    <p class="">Contactez moi : <%= utilisateur[0].mail%></p>
                    
                    <h3>Competances technique</h3>
                    <p class=""> je travail frequement avec les technologies suivante : <strong>Node.js</strong> et <strong>PHP</strong>. Pour les bases de données j'utilise souvent : <strong>PostgreSQL</strong> et <strong>MongoDB</strong>. Côté frontend, je maîtrise <strong>HTML/CSS</strong>, <strong>JavaScript</strong> et <strong>React</strong></p>
                    
                    <h3>Mes Ambitions</h3>
                    <p class=""><%= presentation[0].ambitions %>.</p>
                    
                </div>
            </div>
            
    <% posts.forEach(post => { %>
                
         <a href=""  data-id="<%= post.id%>" class="twitter-post link-post">  
            <article class=" box" id="post-<%= post.id%>"> <!-- Ajout de la classe 'box' pour un fond blanc et une ombre -->
                <div class="media position-media">
                    <div class="media-left user-info">
                        <figure class="image avatar is-48x48"> <!-- Avatar avec taille fixe -->
                            <img src="/assets/<%= utilisateur[0].photo %>" alt="Photo de profil" >
                        </figure>
                        <p class="username">
                            <strong class="has-text-white">ᏟᎬᏁᎢᏒᎪᏞ</strong> 
                            <span class="has-text-grey-light">@<%= utilisateur[0].pseudo %></span>
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p class="tweet-text"><%= post.description %> #cafe_dev</p>
                            <!-- Conteneur pour le média -->
                            <div id="media-container-<%= post.id %>" class="media-container"></div>
                        </div>
                    </div>
                    
                </div>
            
                <div class="content icon-info"> <!-- Alignement à droite pour la date -->
                    <time class="has-text-left date" datetime="<%= post.created_at.toISOString() %>">
                        <%= new Date(post.created_at).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %>
                    </time>
                    
                    
                   
                    <i class="fa-solid fa-arrow-up-right-from-square fa-xs partage"></i>
                </div>
                
            </article>
         </a>
    <% }) %>


 
        </section>

       
        <div class="nav-mobile hidden">
            <ul>
              
               <a href="" class="btn-linkMobile has-text-white">
                    Mes projets
               </a>
                <a href="" class="btn-linkMobile has-text-white">
                    A propos
                </a>
            </ul>
        </div>
        
    </main>

    <footer class="container footer-logo">
      
       
    </footer>
    <script src="/js/index.js"></script>
    <script src="/js/Call.js"></script>
</body>

</html>




